{% autoescape off %}
<!doctype html>
<html>
  <head>
    <title>Reset your password</title>
    <style>
      /* Add your custom CSS styles here */
    </style>
  </head>
  <body>
    <p>Hello,</p>
    <p>You have requested to reset your password on our website. Please click the link below to reset your password:</p>
    <p><a href="{{ reset_password_url }}">{{ reset_password_url }}</a></p>
    <p>If you did not make this request, you can safely ignore this email.</p>
    <p>Thanks,</p>
    <p>The {{ site_name }} team</p>
  </body>
</html>
{% endautoescape %}